<div>
  <%= f.check_box :act_disclosure %>
  <%= f.label :act_disclosure, "I acknowledge that I have received and read the ACT Renting Book and all required disclosures." %>
  <div class="disclosure-info">
    <p>
      Please read the official information for ACT tenants:
      <a href="https://www.justice.act.gov.au/renting-and-occupancy/renting-book" target="_blank" rel="noopener">ACT Renting Book</a>
    </p>
  </div>
</div>