<div>
  <%= f.check_box :nsw_disclosure %>
  <%= f.label :nsw_disclosure, "I acknowledge that I have received and read the NSW Fair Trading Renting Guide and required prescribed information." %>
  <div class="disclosure-info">
    <p>
      Please read the official information for NSW tenants:
      <a href="https://www.fairtrading.nsw.gov.au/housing-and-property/renting/new-tenants-guide" target="_blank" rel="noopener">NSW New Tenant Checklist & Guide</a>
    </p>
  </div>
</div>