<div>
  <%= f.check_box :nt_disclosure %>
  <%= f.label :nt_disclosure, "I acknowledge that I have received and read the NT Residential Tenancies Act disclosure." %>
  <div class="disclosure-info">
    <p>
      Please read the official information for NT tenants:
      <a href="https://consumeraffairs.nt.gov.au/for-consumers/renting-in-the-nt" target="_blank" rel="noopener">NT Renting Guide & Disclosures</a>
    </p>
  </div>
</div>