<div>
  <%= f.check_box :qld_disclosure %>
  <%= f.label :qld_disclosure, "I acknowledge that I have received and read the QLD Form 18a and all required disclosures under QLD law." %>
  <div class="disclosure-info">
    <p>
      Please read the official information for QLD tenants:
      <a href="https://www.rta.qld.gov.au/forms-resources/forms/forms-for-general-tenancies/form-18a-general-tenancy-agreement" target="_blank" rel="noopener">QLD Form 18a & Renting Info</a>
    </p>
  </div>
</div>