<div>
  <%= f.check_box :sa_disclosure %>
  <%= f.label :sa_disclosure, "I acknowledge that I have received and read the South Australian Residential Tenancies Act disclosure." %>
  <div class="disclosure-info">
    <p>
      Please read the official information for SA tenants:
      <a href="https://www.sa.gov.au/topics/housing/renting-and-letting" target="_blank" rel="noopener">SA Renting & Tenancy Info</a>
    </p>
  </div>
</div>