<div>
  <%= f.check_box :wa_disclosure %>
  <%= f.label :wa_disclosure, "I acknowledge that I have received and read the WA tenant information and prescribed forms." %>
  <div class="disclosure-info">
    <p>
      Please read the official information for WA tenants:
      <a href="https://www.commerce.wa.gov.au/consumer-protection/renting-home" target="_blank" rel="noopener">WA Renting Information & Forms</a>
    </p>
  </div>
</div>